<h1>Shouts yo</h1>
<% @shouts.each do |shout| %>
	<ul>
		<li> Shout: <%= shout.body %></li>
		<li> <%= shout.created_at %></li>
	</ul>


<%= link_to	'New Shout', new_user_shout_path(@user) %> |
<%= link_to 'Home', users_path %> |
<%= link_to 'back', :back %> |
<%= button_to 'Delete shout', user_shout_path(@user, shout), :method => :delete %>

<% end %>