<h1> <%= @user.username %> Shouts</h1>
<div>
	<%= link_to 'Your Shouts', user_shouts_path(@user) %> |
	<%= link_to 'Home', users_path %> |
	<%= link_to 'back', :back %>
</div>
<div>
	<ul>
		<li> 
		<%= @shout.body %> 
		<%= link_to 'edit shout', edit_user_shout_path(@user, @shout) %> |
		<%= button_to 'Delete shout', user_shout_path(@user, @shout), :method => :delete %>
		</li>
	</ul>
</div>
