<h1> <%= current_user.username %> Shouts</h1>
<div>
	<%= link_to 'Your Shouts', user_shouts_path(current_user) %> |
	<%= link_to 'Home', root_path %> |
	<%= link_to 'back', :back %>
</div>
<div>
	<ul>
		<li> 
		<%= @shout.body %> 
		<%= link_to 'edit shout', edit_user_shout_path(current_user, @shout) %> |
		<%= button_to 'Delete shout', user_shout_path(current_user, @shout), :method => :delete %>
		</li>
	</ul>
</div>
