<!DOCTYPE html>
<html>
<head>
  <title>Tweethouse</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<ul class="hmenu">
  <li> <%= render 'users/menu/registration_items' %> </li>
  <li> <%= render 'users/menu/login_items' %> </li>
</ul>

<p class="notice"> <%= notice %> </p>
<p class="alert"> <%= alert %> </p>
<%= yield %>

</body>
</html>
